.Block2{
    background-color: green;
    width: 200px;
    height: 100px;
    padding: 70px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}